EZ CD/EZ CD/obj/
EZ CD/EZ CD/bin/
Moving to Identity/EZ CD/obj
Moving to Identity/EZ CD/bin
Try to not core/EZ CD/EZ CD/obj/
Try to not core/EZ CD/EZ CD/bin/
EZ CD/.vs/EZ CD/config/applicationhost.config
EZ CD/.vs/EZ CD/config/applicationhost.config
EZ CD/.vs/EZ CD/config/applicationhost.config
EZ CD/.vs/EZ CD/DesignTimeBuild/.dtbcache.v2
EZ CD/.vs/EZ CD/v16/.suo
EZ CD/EZ CD/bin/Debug/netcoreapp3.1/EZ CD.dll
EZ CD/EZ CD/bin/Debug/netcoreapp3.1/EZ CD.pdb
EZ CD/EZ CD/bin/Debug/netcoreapp3.1/EZ CD.runtimeconfig.dev.json
EZ CD/EZ CD/bin/Debug/netcoreapp3.1/EZ CD.Views.dll
EZ CD/EZ CD/bin/Debug/netcoreapp3.1/EZ CD.Views.pdb
EZ CD/EZ CD/obj/Debug/netcoreapp3.1/EZ CD.assets.cache
EZ CD/EZ CD/obj/Debug/netcoreapp3.1/EZ CD.csproj.FileListAbsolute.txt
EZ CD/EZ CD/obj/Debug/netcoreapp3.1/EZ CD.csprojAssemblyReference.cache
EZ CD/EZ CD/obj/Debug/netcoreapp3.1/EZ CD.dll
EZ CD/EZ CD/obj/Debug/netcoreapp3.1/EZ CD.pdb
EZ CD/EZ CD/obj/Debug/netcoreapp3.1/EZ CD.Views.dll
EZ CD/EZ CD/obj/Debug/netcoreapp3.1/EZ CD.Views.pdb
EZ CD/EZ CD/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
EZ CD/EZ CD/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
EZ CD/EZ CD/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
EZ CD/EZ CD/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
EZ CD/EZ CD/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
EZ CD/EZ CD/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
EZ CD/EZ CD/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
EZ CD/EZ CD/obj/EZ CD.csproj.nuget.dgspec.json
EZ CD/EZ CD/obj/EZ CD.csproj.nuget.g.props
EZ CD/EZ CD/obj/project.assets.json
EZ CD/EZ CD/obj/project.nuget.cache
.DS_Store
EZ CD/EZ CD/obj/project.nuget.cache
EZ CD/EZ CD/obj/project.assets.json
EZ CD/EZ CD/obj/EZ CD.csproj.nuget.g.props
EZ CD/EZ CD/obj/EZ CD.csproj.nuget.dgspec.json
EZ CD/EZ CD/obj/Debug/netcoreapp3.1/EZ CD.csprojAssemblyReference.cache
EZ CD/EZ CD/obj/Debug/netcoreapp3.1/EZ CD.assets.cache
EZ CD/.vs/EZ CD/v16/.suo
EZ CD/EZ CD/obj/Debug/netcoreapp3.1/EZ CD.assets.cache
EZ CD/.vs/EZ CD/DesignTimeBuild/.dtbcache.v2
EZ CD/.vs/EZ CD/v16/.suo
EZ CD/EZ CD/obj/Debug/netcoreapp3.1/EZ CD.assets.cache
EZ CD/EZ CD/obj/Debug/netcoreapp3.1/EZ CD.csprojAssemblyReference.cache
EZ CD/EZ CD/obj/EZ CD.csproj.nuget.dgspec.json
EZ CD/EZ CD/obj/EZ CD.csproj.nuget.g.props
EZ CD/EZ CD/obj/project.assets.json
EZ CD/EZ CD/obj/project.nuget.cache
Moving to Identity/.vs/EZ CD/v16/.suo
Moving to Identity/.vs/EZ CD/DesignTimeBuild/.dtbcache.v2
Moving to Identity/EZ CD/EZ CD.csproj.user
Moving to Identity/EZ CD/Migrations/20200823143120_updated-users.cs
Moving to Identity/EZ CD/Migrations/20200824120302_added-cartItem.Designer.cs
Moving to Identity/EZ CD/Migrations/EZ_CD_DBContextModelSnapshot.cs
Moving to Identity/EZ CD/EZ CD.csproj.user
Moving to Identity/EZ CD/EZ CD.csproj.user
Moving to Identity/EZ CD/EZ CD.csproj
