@model EZ_CD.Models.Disk

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>Disk</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ArtistId" class="control-label"></label>
                <select asp-for="ArtistId" class="form-control" asp-items="ViewBag.Artists"></select>
                <a asp-controller="artists" asp-action="create">+ Add New Artist</a>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="genre" class="control-label"></label>
                <select id="genre-list" asp-for="genre" class="form-control">
                    <option value="Pop" selected>Pop</option>
                    <option value="Rap">Rap</option>
                    <option value="Rock">Rock</option>
                    <option value="Metal">Metal</option>
                    <option value="Classic">Classic</option>
                </select>
                <span asp-validation-for="genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateAdded" class="control-label"></label>
                <input asp-for="dateAdded" class="form-control" />
                <span asp-validation-for="dateAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imagePath" class="control-label"></label>
                <input asp-for="imagePath" class="form-control" />
                <span asp-validation-for="imagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="videoUrl" class="control-label"></label>
                <input asp-for="videoUrl" class="form-control" />
                <span asp-validation-for="videoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/AdminPanel/createDisk.js"></script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
