@model EZ_CD.Models.Disk

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous">

<style>
    .pt-3-half {
        padding-top: 1.4rem;
    }

    #table {
        position: relative;
        margin-top: -142%;
        margin-left: 110%;
    }
</style>

<h1>Create</h1>

<h4>Disk</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" onsubmit="return validateNumOfSongs()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Artist:</label>
                <select name="artistId" class="form-control" asp-items="ViewBag.Artists"></select>
                <a asp-controller="artists" asp-action="create">+ Add New Artist</a>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="genre" class="control-label"></label>
                <select id="genre-list" asp-for="genre" class="form-control">
                    <option value="Pop" selected>Pop</option>
                    <option value="Rap">Rap</option>
                    <option value="Rock">Rock</option>
                    <option value="Metal">Metal</option>
                    <option value="Classic">Classic</option>
                </select>
                <span asp-validation-for="genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateAdded" class="control-label"></label>
                <input asp-for="dateAdded" class="form-control" />
                <span asp-validation-for="dateAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="featuredVideoUrl" class="control-label">Featured video Id</label>
                <input id="dateAdded" asp-for="featuredVideoUrl" class="form-control" />
                <span asp-validation-for="featuredVideoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input name="songsJSON" class="form-control" id="songsJSON" value="none" hidden />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" onclick="setData()" />
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
            <!-- table -->
            <div id="table" class="table-editable">
                <span class="table-add float-right mb-3 mr-2">
                    <a href="#!" class="text-success">
                        <i class="fas fa-2x" aria-hidden="true">+</i>
                    </a>
                </span>
                <table class="table table-bordered table-responsive-md table-striped text-center">
                    <thead>
                        <tr>
                            <th class="text-center">Name</th>
                            <th class="text-center">Length</th>
                            <th class="text-center">Sort</th>
                            <th class="text-center">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!-- table -->
        </form>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/AdminPanel/createDisk.js"></script>
<script src="~/js/AdminPanel/songList.js"></script>



