
@{
    ViewData["Title"] = "_InvalidArguments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link type="text/css" rel="stylesheet" href="~/css/home.css" />
</head>

<body>
    <section>
        <div class="jumbotron jumbotron-fluid text-center">
            <div class="container">
                <h1 class="display-4">Invalid Search Arguments</h1>
                <a class="lead" asp-controller="Home" asp-action="Index">
                    Click Here To Return To Home Page
                </a>
            </div>
        </div>
    </section>
</body>
