<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EZ_CD</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/layout.css" />

    <style>
        .logo-image {
            object-fit: contain;
        }

        .footer-text {
            margin-top: 200px;
        }
    </style>

</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img src="~/img/logo.png" width="30" height="30" class="logo-image d-inline-block align-top" alt="">
                EZ CD
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <partial name="_LoginPartial.cshtml" />
                </ul>
                <form method="get" action="/home/search" id="filters-form" name="filters-form" onsubmit="return validateFiltersForm()">
                    <div class="dropdown cat-dropdown search-element" id="filters-dropdown">
                        <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" type="button" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
                            Filters
                        </button>
                        <div class="dropdown-menu main-dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item Genre" href="#">Genre</a>
                            <ul class="submenu Genres dropdown-menu">
                                <li class="checkbox dropdown-item">
                                    <label><input type="checkbox" name="pop" class="icheck" value="Pop"> Pop</label>
                                </li>
                                <li class="checkbox dropdown-item">
                                    <label><input type="checkbox" name="rap" class="icheck" value="Rap"> Rap</label>
                                </li>
                                <li class="checkbox dropdown-item">
                                    <label><input type="checkbox" name="rock" class="icheck" value="Rock"> Rock</label>
                                </li>
                                <li class="checkbox dropdown-item">
                                    <label><input type="checkbox" name="metal" class="icheck " value="Metal"> Metal</label>
                                </li>
                                <li class="checkbox dropdown-item">
                                    <label><input type="checkbox" name="classic" class="icheck" value="Classic"> Classic</label>
                                </li>
                            </ul>
                            <a class="dropdown-item Release-date" href="#">Release Year</a>
                            <ul class="submenu Release-dates dropdown-menu">
                                <li class="dropdown-item">
                                    From:
                                    <input type="text" id="fromText" name="fromYear" min="4" maxlength="4" size="6">
                                </li>
                                <li class="dropdown-item">
                                    To:
                                    <input type="text" id="toText" name="toYear" max="4" maxlength="4" size="6">
                                </li>
                            </ul>
                            <a class="dropdown-item Price" href="#">Price</a>
                            <ul class="submenu Prices dropdown-menu">
                                <li class="dropdown-item">
                                    Minimum:
                                    <input type="text" id="minPrice" name="minPrice" min="4" maxlength="4" size="6">
                                </li>
                                <li class="dropdown-item">
                                    Maximum:
                                    <input type="text" id="maxPrice" name="maxPrice" max="4" maxlength="4" size="6">
                                </li>
                            </ul>
                            <a class="dropdown-item Artist" href="#">Artist</a>
                            <ul class="submenu Artists dropdown-menu">
                                <li class="dropdown-item">
                                    Name:
                                    <input type="text" id="artistText" name="artist" size="6">
                                </li>
                            </ul>
                        </div>

                    </div>
                    <input class="form-control mr-sm-2 search-element" name="diskName" id="search-textbox" type="search" placeholder="Album Name" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0 search-element" id="search-btn" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>

    @RenderBody()



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/navbar.js"></script>
    @RenderSection("Scripts", required: false)
</body>


</html>

<footer class="footer bg-dark">
    <div class="footer-text">
        <a asp-action="Contact" style="margin-right:120px; color:white">Contact</a>
        <a asp-action="About" style="color:white;">About Us</a>
        <a asp-action="QnA" style="margin-left:120px;color:white">Q&A</a>
    </div>
</footer>
