
@model User 
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link type="text/css" rel="stylesheet" href="~/css/login.css" />
        <!------ Include the above in your HEAD tag ---------->
    </head>

    <body>
        <div id="fb-root"></div>
        <script async
                defer
                crossorigin="anonymous"
                src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0&appId=762448131264866&autoLogAppEvents=1"
                nonce="5NwPkOYA">

        </script>
        <script>window.fbAsyncInit = function () {
                FB.init({
                    appId: "762448131264866",
                    cookie: true,
                    xfbml: true,
                    version: "v8.0",
                });

                FB.AppEvents.logPageView();
            };

            (function (d, s, id) {
                var js,
                    fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            })(document, "script", "facebook-jssdk");
        </script>
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->
                <!-- Icon -->
                <div class="fadeIn first" style="padding-top: 5px;">
                    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
                    <div class="circle">
                        <i class="fa fa-user fa-3x"></i>
                    </div>

                </div>


                <!-- Login Form -->
                @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                {
                    <form style="padding-top: 5px; padding-bottom: 20px">

                        <input type="text" id="username" class="fadeIn second" name="username" placeholder="username">
                        <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
                        <input type="submit" class="fadeIn fourth" value="Log In">
                            <div class="fb-login-button fadeIn fourth"
                                 data-size="large"
                                 data-button-type="login_with"
                                 data-layout="rounded"
                                 data-auto-logout-link="false"
                                 data-use-continue-as="false"
                                 data-width="225px">

                            </div>
                    </form>
                }
                

                <!-- Remind Passowrd -->
                <div id="formFooter">
                    <a class="underlineHover" href="#">Forgot Password?</a>
                </div>

            </div>
        </div>
    </body>    
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
