@page
@model LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="~/css/login.css" />
</head>

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first" style="padding-top: 5px;">
                <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
                <div class="circle">
                    <i class="fa fa-user fa-3x"></i>
                </div>

            </div>
            <!-- Login Form -->

            <form method="post" style="padding-top: 5px; padding-bottom: 20px">
                <input asp-for="Input.Email" class="fadeIn second" placeholder="Email">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <input asp-for="Input.Password" class="fadeIn third" placeholder="Password">
                <span asp-validation-for="Input.Password" class="text-danger"></span>

                <div class="the-submit">
                    <input type="submit" class="fadeIn fourth" value="Log In">

                    <label class="lable-container" asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        Remember Me
                        <span class="checkmark"></span>
                    </label>
                </div>


                <div class="fb-login-button fadeIn fourth"
                     data-size="large"
                     data-button-type="login_with"
                     data-layout="rounded"
                     data-auto-logout-link="false"
                     data-use-continue-as="false"
                     data-width="225px">

                </div>
            </form>
            

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="underlineHover">Don't have an account? Sign up</a>
            </div>

        </div>
    </div>
</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
