@model IEnumerable<EZ_CD.Models.CartItem>

@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cart</h1>

@if (Model.Count() == 0)
{
    <p>
        You don't have any items in your cart
    </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.cartItemId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.cartItemId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
